/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: darkblue;
  --background-color: #FF0070;
  --border-hover: #FF007066;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --p-color: #F1B2CE;
  --dark-border-color: #ff006ff5; 
  --light-border-color: transparent;
  --section-title-color: #ff006fef; 
  --background-image: url(../images/cover-image-dark.png);
}