/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: darkblue;
    --background-color: #ff0070;
    --border-hover: #ff007066;
    --subtitle-color: #000028;
    --title-color: #db00ff;
    --p-color: #f1b2ce;
    --dark-border-color: #ff0070;
    --light-border-color: #ff0070;
    --section-title-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
}
