/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: white;
    --light-border-color: #353430;
    --dark-border-color: transparent;
    --background-color: #ff8dcb;
    --border-hover: #353430;
    --section-title-color: #353430;
    --title-color: #ffc2e6;
    --p-color: #353430;
    --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: white;
        --light-border-color: #353430;
        --dark-border-color: transparent;
        --background-color: #ff8dcb;
        --section-title-color: #353430;
        --title-color: #ffc2e6;
        --border-hover: #353430;
        --p-color: #353430;
        --background-image: url(../images/cover-image-light.png);
    }
}
