/*Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--accent-color);
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 668px;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.header__theme-menu {
    grid-row: 1;
    justify-self: right;
    align-self: center;
} 

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.header__theme-menu-item {
    opacity: 1;
}

.header__theme-menu-button {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: var(--font-size);
    letter-spacing: 0;
    text-align: center;
    color: var(--section-title-color);
    background: transparent;
    padding: 1.5px 13px 1.5px 13px;
    border: 1px solid transparent;
}

.header__theme-menu-button:focus {
    outline: none; 
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--dark-border-color); 
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--outline-hover-color);
}

.header__theme-menu-button_active {
    outline: 1px solid var(--dark-border-color);
    pointer-events: none;
}

.header__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--background-color);
    justify-self: left;
    align-self: center;
    grid-row: 2;
}

.header__title_annotation {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    justify-self: center;
    align-self: center;
    grid-row: 3;
}

.title-decor {
    background-color: var(--background-color);
    color: var(--subtitle-color);
}

.section__title {
    color: var(--section-title-color);
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    margin-block-end: 20px;
}

.article__subtitle {
    background-color: var(--background-color);
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--subtitle-color);
    margin-block-end: 10px;
}

.decorated-corner-top::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-block-start: 1px solid var(--section-title-color);
    border-inline-end: 1px solid var(--section-title-color);
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(0deg);
}

.header__inscription {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    position: absolute;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    color: var(--light-border-color);
    right: 38px;
    top: 10px;
}

.header__inscription::after {
    content: "";
    width: 9px;
    height: 9px;
    top: 8px;
    right: -18px;
    opacity: 1;
    background: var(--light-border-color);
    position: absolute;
    box-shadow: 0px 0px 4px 2px var(--light-border-color);
    border-radius: 50%;
}

.decorated-corner-bottom::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-inline-start: 1px solid var(--section-title-color);
    border-block-end: 1px solid var(--section-title-color);
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: rotate(0deg);
}

.content-section {
    opacity: 1;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.article-list .article {
    margin-block-start: 20px;
}

.concentrate {
    margin-block-start: 40px;
    margin-block-end: 50px;
}

.attention {
    margin-block-end: 50px;
}

.attention .section__title {
    margin-block-end: 0;
}

.better {
    margin-block-end: 50px;
}

.picture {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 40px; 
}

.picture img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-block-end: 6px;
}

.picture .article__title {
    margin-block-end: 10px;
}

a {
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--background-color);
}                   

a:focus {
    outline: none;
}

a:focus-visible {
    outline: 1px solid var(--p-color);
}

a:hover {
    border-bottom: 1px solid var(--p-color);
}

.better .article-list .article__title {
    margin-block-end: 20px;
}

.article-list {
    row-gap: 20px;
}

.article__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
}

.article__paragraph {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--p-color);
    margin-block-start: 10px;
}

.footer {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    align-items: center;
    justify-items: center;
    height: 100vh;
    min-height: 668px;
}

.footer .decorated-corner-top::after {
    top: 0;
    right: 10px;
}

.footer .decorated-corner-bottom::after {
    bottom: 23px;
    left: 10px;
}

.footer__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--background-color);
    grid-row: 2;
    margin-block-end: 10px;
    margin-inline-end: 0;
}

@media (min-width: 768px) {

    .header {
        margin-block-end: 30px;
        padding-inline-start: 0;
        padding-inline-end: 20px;
        padding-block-end: 33px;
    }

    .header__inscription {
        right: 47px;
        top: 8px;
    }

    .header .decorated-corner-top::after {
        right: 20px;
        top: 8px;
    } 

    .header .decorated-corner-bottom::after {
        bottom: 33px;
        left: 20px;
    }

    .header__theme-menu {
        justify-self: right;
        align-self: center;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title_annotation {
        width: 364px;
        justify-self: right;
        align-self: center;
    }

    .content-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .section__title {
        grid-column: 1;
    }

    .concentrate {
        padding-inline-start: 20px;
        padding-inline-end: 40px;
    }

    .concentrate .section__title {
        margin-block-start: 10px;
    }

    .concentrate .article-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-inline-start: 20px;
    }

    .concentrate .article-list .article {
        margin-block-start: 10px;
        min-width: 472px;
    }

    .article-list {
        grid-column: 2 / 4;
    }

    .attention {
        margin-block-start: 77px;
        margin-block-end: 80px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }

    .attention .article-list {
        grid-column: 1 / 4;
    }

    .article-list__alternate {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        min-width: 728px;
    }

    .better {
        margin-block-start: 80px;
        margin-block-end: 80px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }

    .better .article-list .article__title {
        white-space: nowrap;
    }

    .better .article-list {
        margin-inline-start: 15px;
        min-width: 472px;
    }

    .picture {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        margin-block-end: 55px;
   }

    .picture .article__title {
        margin-block-end: 20px;
    }

    .picture__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .picture__img_sunset {
        grid-column: 1 / 3;
        height: 100%;
    }

    .picture__img_street {
        grid-column: 2 / 4;
        width: 100%;
    }

    .picture__img_ice-cream {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 100%;
    }

    .picture__img_tape {
        grid-column: 1;
        grid-row: 2 / 4;
        height: 100%;
    }

    .footer {
        overflow: hidden;
    }

    .footer .decorated-corner-top::after {
        right: 20px;
        top: 12px;
    }

    .footer .decorated-corner-bottom::after {
        left: 20px;
        bottom: 28px;
    }

    .footer__title {
        margin-block-start: 380px;
        margin-block-end: 390px;
        margin-inline-end: 20px;
        margin-inline-start: 20px;
    }

}

@media (min-width: 1024px) {

    .header {
       padding-block-end: 33px;
       padding-block-start: 10px;
       padding-inline-start: 0px;
       padding-inline-end: 20px;
       margin-block-end: 30px;
    }

    .header__theme-menu {
       justify-self: center;
       align-self: start;
       grid-column: 1;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        justify-self: left;
    }

    .header__title_annotation {
        width: 491px;
        justify-self: right;
        align-self: center;
    }

    .header .decorated-corner-bottom::after {
        bottom: 32px;
        left: 20px;
    }

    .content-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .concentrate {
        margin-block-end: 78px;
        padding-inline-end: 20px;
        padding-inline-start: 20px;
    }

    .concentrate .article-list {
       margin-inline-start: 7px;
    }

     .concentrate .article-list .article {
       min-width: 649px;
    }

    .section__title {
        grid-column: 1;
    }

    .article-list {
        grid-column: 2 / 4;
    }

    .attention .article-list {
        grid-column: 1 / 4;
    }

    .article-list__alternate {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        margin-block-start: 0;
    }

    .article-list__alternate .article {
        min-width: 315px
    }

    .better {
        margin-block-end: 80px;
        padding-inline-end: 20px; 
        padding-inline-start: 20px;
    }

    .better .article-list  {
        margin-inline-start: 10px;
        min-width: 649px;
    }

    .better .article-list .article__title  {
        margin-block-end: 20px;
    }

    .picture {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }

    .picture__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .picture__img_sunset {
        grid-column: 1 / 3;
        height: 100%;
    }

    .picture__img_street {
        grid-column: 2 / 4;
        width: 100%;
    }

    .picture__img_ice-cream {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 100%;
    }

    .picture__img_tape {
        grid-column: 1;
        grid-row: 2 / 4;
        height: 100%;
    }

    .footer .decorated-corner-top::after {
        right: 20px;
        top: 12px;
    }

    .footer .decorated-corner-bottom::after {
        left: 20px;
        bottom: 29px;
    }

    .footer__title {
        font-size: 157px;
        margin-block-start: 312px;
        margin-block-end: 450px;
        margin-inline-end: 20px;
        margin-inline-start: 20px;
    }
}
