/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* {
  box-sizing: border-box;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--accent-color);
}

body {
  padding: 10px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  justify-items: right;
  align-items: start;
  position: relative;
  padding-block-start: 10px;
}

.header__theme-menu {
  position: absolute;
  top: 139px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  opacity: 1;
  padding-right: 13px;
  padding-left: 13px;
  margin: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-small);
  font-style: var(--font-style-normal);
  font-size: var(--font-size);
  line-height: var(--font-size);
  letter-spacing: 0;
  text-align: center;
  color: var(--section-title-color);
  background: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_type_light {
  border: 1px solid var(--light-border-color);
}

.header__theme-menu-button_type_light:focus {
  outline: none;
}

.header__theme-menu-button_type_light:focus-visible {
  outline: 1px solid var(--border-hover);
}

.header__theme-menu-button_type_light:hover {
  border-block-end: 1px solid var(--dark-border-color);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--dark-border-color);
}

.header__theme-menu-button_type_dark:focus {
  outline: none;
}

.header__theme-menu-button_type_dark:focus-visible {
  outline: 1px solid var(--border-hover);
}

.header__theme-menu-button_type_dark:hover {
  border-block-end: 1px solid var(--light-border-color);
}

.header__theme-menu-button_type_auto:focus {
  outline: none;
}

.header__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-big);
  font-style: var(--font-style-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--background-color);
  justify-self: left;
  align-self: center;
}

.header__title_annotation {
  font-family: var(--font-family);
  font-weight: var(--font-weight-big);
  font-style: var(--font-style-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
}

.title-decor {
  background-color: var(--background-color);
  color: var(--subtitle-color);
  align-self: center;
}

.section__title {
  color: var(--section-title-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-big);
  font-style: var(--font-style-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-end: 20px;
}

.subtitle {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-small);
  font-style: var(--font-style-normal);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--subtitle-color);
  margin-block-end: 10px;
}

article:hover .subtitle {
  text-decoration: underline;
}

.decorated-corner-top::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--section-title-color);
  border-inline-end: 1px solid var(--section-title-color);
  position: absolute; 
  right: 10px; 
  transform: rotate(0deg);
}

.decorated-inscription {
  font-family: var(--font-family);
  font-weight: var(--font-weight-small);
  font-style: var(--font-style-normal);
  font-size: var(--font-size);
  position: absolute;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark-border-color);
  right: 38px;
}

.decorated-circle {
  width: 9px;
  height: 9px;
  top: 18px;
  right: 18px;
  opacity: 1;
  background: var(--dark-border-color);
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--dark-border-color);
  border-radius: 50%;
}

.decorated-corner-bottom::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-inline-start: 1px solid var(--section-title-color);
  border-block-end: 1px solid var(--section-title-color);
  position: absolute; 
  left: 10px; 
  transform: rotate(0deg);
}

.content-section {
  opacity: 1;
  padding-right: 10px;
  padding-left: 10px;
}

.concentrate {
  margin-block-start: 40px;
  margin-block-end: 50px;
}

.attention {
  margin-block-end: 50px;
}

.better {
  margin-block-end: 50px;
}

.picture {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
}

.picture img {
  max-width: 100%;
  max-height: 100%;
}

article {
  margin-block-end: 20px;
}

a {
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--background-color);
}

a:hover {
  text-decoration: underline;
  color: var(--p-color);
}

.article__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-big);
  font-style: var(--font-style-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-end: 10px;
}

article:hover .article__title {
  text-decoration: underline;
}

.article__paragraph {
  font-family: var(--font-family);
  font-weight: var(--font-weight-small);
  font-style: var(--font-style-normal);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--p-color);
}

article:hover .article__paragraph {
  text-decoration: underline;
}

footer {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  justify-self: center;
  height: 100vh;
  min-height: 667px;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-big);
  font-style: var(--font-style-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--title-color);
  margin-block-start: 500px;
  margin-block-end: 500px;
}

@media (min-width: 768px) {

  .header__theme-menu {
    top: 346px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title_annotation {
    width: 364px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section__title {
    grid-column: 1;  
  }

  .article-list {
    grid-column: 2 / 4;
  }

  .attention .article-list {
    grid-column: 1 / 4;
  }

  .picture__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .picture__img_sunset {
    grid-column: 1 / 3;
    height: 100%;
  }

  .picture__img_street {
    grid-column: 2 / 4;
    width: 100%;
  }

  .picture__img_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .picture__img_tape {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    top: 0;
    right: 635px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title_annotation {
    width: 491px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .section__title {
    grid-column: 1;  
   }
  
  .article-list {
    grid-column: 2 / 4;
  }

  .attention .article-list {
    grid-column: 1 / 4;
  }

  .article-list__alternate {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .picture__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .picture__img_sunset {
    grid-column: 1 / 3;
    height: 100%;
  }

  .picture__img_street {
    grid-column: 2 / 4;
    width: 100%;
  }

  .picture__img_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .picture__img_tape {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }

  footer .decorated-corner-top::after {
    right: 550px;
  }

  footer .decorated-corner-bottom::after {
    left: 550px;
  }

}
