/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* {
    box-sizing: border-box;
}

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--accent-color);
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 668px;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.header__theme-menu {
    grid-row: 1;
    justify-self: right;
    align-self: center;
} 

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.header__theme-menu-item {
    opacity: 1;
}

.header__theme-menu-button {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: var(--font-size);
    letter-spacing: 0;
    text-align: center;
    color: var(--section-title-color);
    background: transparent;
    padding: 1.5px 13px 1.5px 13px;
}

.header__theme-menu-button_active {
    outline: 1px solid var(--dark-border-color);
    pointer-events: none;
}

.header__theme-menu-button_type_light {
    border: 1px solid transparent;
}

.header__theme-menu-button_type_light:focus { 
    outline: none; 
} 

.header__theme-menu-button_type_light:focus-visible {
    border: 1px solid var(--dark-border-color);
}

.header__theme-menu-button_type_light:hover {
    outline: 1px solid var(--border-hover);
}

.header__theme-menu-button_type_dark {
    border: 1px solid transparent;
}

.header__theme-menu-button_type_dark:focus { 
    outline: none; 
}

.header__theme-menu-button_type_dark:focus-visible {
    border: 1px solid var(--dark-border-color);
}

.header__theme-menu-button_type_dark:hover {
    outline: 1px solid var(--border-hover);
}

.header__theme-menu-button_type_auto {
    border: none;
}

.header__theme-menu-button_type_auto:focus {
    outline: none;
}

.header__theme-menu-button_type_auto:focus-visible {
    border: 1px solid var(--dark-border-color);
}

.header__theme-menu-button_type_auto:hover {
    outline: 1px solid var(--border-hover);
}

.header__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--background-color);
    justify-self: left;
    align-self: center;
    grid-row: 2;
}

.header__title_annotation {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    justify-self: center;
    align-self: center;
    grid-row: 3;
}

.title-decor {
    background-color: var(--background-color);
    color: var(--subtitle-color);
}

.section__title {
    color: var(--section-title-color);
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    margin-block-end: 20px;
}

.article__subtitle {
    background-color: var(--background-color);
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--subtitle-color);
    margin-block-end: 10px;
}

.decorated-corner-top::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-block-start: 1px solid var(--section-title-color);
    border-inline-end: 1px solid var(--section-title-color);
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(0deg);
}

.header__inscription {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    position: absolute;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    color: var(--light-border-color);
    right: 38px;
    top: 10px;
}

.header__inscription::after {
    content: "";
    width: 9px;
    height: 9px;
    top: 8px;
    right: -18px;
    opacity: 1;
    background: var(--light-border-color);
    position: absolute;
    box-shadow: 0px 0px 4px 2px var(--light-border-color);
    border-radius: 50%;
}

.decorated-corner-bottom::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-inline-start: 1px solid var(--section-title-color);
    border-block-end: 1px solid var(--section-title-color);
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: rotate(0deg);
}

a {
    text-shadow: 4px 4px 0 var(--background-color);
}

a:focus {
    outline: 1px solid #f1b2ce;
}

.content-section {
    opacity: 1;
    padding-right: 10px;
    padding-left: 10px;
}

.concentrate {
    margin-block-start: 40px;
    margin-block-end: 30px;
}

.concentrate .article-list .article {
    margin-block-end: -4px;
}

.attention {
    margin-block-end: 74px;
}

.article-list__alternate .article {
    flex-wrap: wrap;
}

.article-list__alternate {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}

.article-list__alternate :nth-child(3) {
  margin-block-start: -28px;
}

.article-list__alternate :nth-child(2) {
  margin-block-start: -7px;
  margin-block-end: 5px;
}

.article-list__alternate :nth-child(1) .article__title {
  margin-block-end: 14px;
}

.article-list__alternate :nth-child(3) .article__title {
  margin-block-end: 13px;
}
    
.better {
  margin-block-end: 50px;
}

.better .article-list {
  display: grid;
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}

.better .article-list :nth-child(2) {
  margin-block-start: -20px;
  margin-block-end: 19px;
}

.better .article-list :nth-child(3) {
  margin-block-start: -57px;
  margin-block-end: 58px;
}

.better .article-list :nth-child(4) {
  margin-block-start: -260px;
}

.better .article-list :nth-child(5) {
  margin-block-start: -325px
}

.better .article-list :nth-child(6) {
  margin-block-start: -530px;
}

.better .article-list :nth-child(2) .article__subtitle {
  margin-block-end: 27px;
}

.better .article-list :nth-child(3) .article__subtitle {
  margin-block-end: 25px;
}

.better .article-list :nth-child(4) .article__subtitle {
  margin-block-end: 30px;
}

.better .article-list :nth-child(5) .article__subtitle {
  margin-block-end: 27px;
}

.better .article-list :nth-child(6) .article__subtitle {
  margin-block-end: 30px;
}

.picture {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 40px;
    margin-block-start: -755px;
}

.picture img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-block-end: 6px;
}

.picture .article__title {
    margin-block-end: 10px;
}

a {
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--background-color);
}

a:hover {
    text-decoration: underline;
    color: var(--p-color);
}

.better .article-list .article__title {
    margin-block-end: 20px;
}

.article-list {
    row-gap: 20px;
}

.article__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    margin-block-end: 10px;
}

.article__paragraph {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-small);
    font-style: var(--font-style-normal);
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--p-color);
}

.footer {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    align-items: center;
    justify-items: center;
    height: 100vh;
    min-height: 668px;
}

.footer .decorated-corner-top::after {
    top: 2px;
    right: 10px;
}

.footer .decorated-corner-bottom::after {
    bottom: 20px;
    left: 10px;
}

.footer__title {
    font-family: "IBM Plex Mono", "Arial", sans-serif;
    font-weight: var(--font-weight-big);
    font-style: var(--font-style-bold);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--title-color);
    grid-row: 2;
    margin-block-end: 10px;
    margin-inline-end: 0;
}

@media (min-width: 768px) {

    .header {
        margin-block-end: 50px;
        padding: 20px;
    }

    .header__inscription {
        right: 65px;
    }

    .header .decorated-corner-top::after {
        right: 36px;
    } 

    .header .decorated-corner-bottom::after {
        bottom: 30px;
        left: 4px;
    }

    .header__inscription::after {
        right: -20px;
    }

    .header__theme-menu {
        justify-self: right;
        align-self: center;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title_annotation {
        width: 364px;
        justify-self: right;
        align-self: center;
    }

    .concentrate {
        margin-inline-start: -5px;
    }

    .content-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline-start: 10px;
        padding-inline-end: 70px;
    }

    .section__title {
        grid-column: 1;
    }

    .concentrate .article-list {
        margin-inline-start: 25px;
    }

    .concentrate .article-list .article {
        margin-block-end: -27px;
    }

    .article-list {
        grid-column: 2 / 4;
    }

    .attention {
        margin-block-start: 60px;
        margin-block-end: 60px;
        padding-inline-start: 5px;
    }

    .attention .article-list {
        grid-column: 1 / 4;
    }

    .article-list__alternate {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .article-list__alternate :nth-child(1) {
        margin-block-end: -8px;
    }

    .article-list__alternate :nth-child(2) {
        margin-block-end: 28px;
    }

    .article-list__alternate :nth-child(2) .article__title {
        margin-block-end: 10px;
    }

    .better {
        margin-block-start: 60px;
        margin-block-end: 172px;
        padding-inline-start: 5px;
    }

    .better .article-list .article__title {
        white-space: nowrap;
        margin-block-end: 42px;
    }

    .better .article-list {
        display: grid;
        grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        margin-inline-start: 25px;
    }

    .better .article-list :nth-child(2) {
        margin-block-start: -43px;
        margin-block-end: 50px;
    }

    .better .article-list :nth-child(2) .article__subtitle {
        margin-block-end: 52px;
    }

    .better .article-list :nth-child(3) {
        margin-block-start: -87px;
        margin-block-end: 52px;
    }

    .better .article-list :nth-child(3) .article__subtitle {
        margin-block-end: 52px;
    }

    .better .article-list :nth-child(4) {
        margin-block-start: -248px;
    }

    .better .article-list :nth-child(4) .article__subtitle {
        margin-block-end: 52px;
    }

    .better .article-list :nth-child(5) {
        margin-block-start: -316px;
    }

     .better .article-list :nth-child(5) .article__subtitle {
        margin-block-end: 55px;
    }

    .better .article-list :nth-child(6) {
        margin-block-start: -478px;
    }

    .better .article-list :nth-child(6) .article__subtitle {
        margin-block-end: 55px;
    }

    .picture {
        margin-inline-end: 40px;
        margin-block-end: 30px;
   }

    .picture .article__title {
        margin-block-end: 10px;
    }

    .picture__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
    }

    .picture__img_sunset {
        grid-column: 1 / 3;
        height: 100%;
    }

    .picture__img_street {
        grid-column: 2 / 4;
        width: 100%;
    }

    .picture__img_ice-cream {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 100%;
    }

    .picture__img_tape {
        grid-column: 1;
        grid-row: 2 / 4;
        height: 100%;
    }

    .footer {
        overflow: hidden;
    }

    .footer .decorated-corner-top::after {
        right: 37px;
        top: 57px;
    }

    .footer .decorated-corner-bottom::after {
        left: 10px;
        
    }

    .footer__title {
        margin-inline-start: -25px;
        margin-block-start: 468px;
        margin-block-end: 390px;
    }

}

@media (min-width: 1024px) {

    .header {
       padding-block-start: 10px;
       padding-inline-end: 20px;
    }

    .header__theme-menu {
       justify-self: center;
       align-self: start;
       grid-column: 1;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .header__theme-menu-button_type_auto {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__title_annotation {
        width: 491px;
        justify-self: right;
    }

    .header .decorated-corner-bottom::after {
        bottom: 30px;
        left: 5px;
    }

    .content-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .concentrate {
        margin-block-end: 60px;
        margin-inline-end: 19px;
    }

    .concentrate .article-list .article {
        margin-block-end: -3px;
    }

    .section__title {
        grid-column: 1;
    }

    .article-list {
        grid-column: 2 / 4;
    }

    .attention {
        margin-block-end: -78px;
    }

    .attention .article-list {
        grid-column: 1 / 4;
    }

    .article-list__alternate {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .article-list__alternate .article:nth-child(1) {
        margin-inline-end: 70px;
    }

    .article-list__alternate .article:nth-child(2) {
        margin-inline-end: 109px;
    }

    .article-list__alternate .article:nth-child(2) .article__title {
        margin-block-end: 15px;
    }


    .article-list__alternate .article {
        flex-wrap: wrap;
    }

    .better {
        margin-block-end: 229px;
    }

    .better .article-list  {
        display: grid;
        grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
        margin-inline-start: 20px;
    }

    .better .article-list .article__title  {
        margin-block-end: 42px;
    }

    .better .article-list .article:nth-child(2)  {
        margin-block-start: -40px;
    }

    .better .article-list .article:nth-child(3)  {
        margin-block-start: -90px;
    }

    .better .article-list .article:nth-child(4)  {
        margin-block-start: -230px;
    }

    .better .article-list .article:nth-child(5)  {
        margin-block-start: -325px;
    }

     .better .article-list .article:nth-child(6)  {
        margin-block-start: -465px;
    }

    .picture {
        padding-inline-start: 12px;
        padding-inline-end: 15px;
    }

    .picture__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .picture__img_sunset {
        grid-column: 1 / 3;
        height: 100%;
    }

    .picture__img_street {
        grid-column: 2 / 4;
        width: 100%;
    }

    .picture__img_ice-cream {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 100%;
    }

    .picture__img_tape {
        grid-column: 1;
        grid-row: 2 / 4;
        height: 100%;
    }

    .footer .decorated-corner-top::after {
        right: 36px;
        top: 68px;
    }

    .footer .decorated-corner-bottom::after {
        left: 7px;
        bottom: 10px;
    }

    .footer__title {
        font-size: 157px;
        margin-block-start: 370px;
        margin-block-end: 450px;
    }
}
