/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: darkblue;
  --background-color: #FF0070;
  --border-hover: #FF007066;
  --subtitle-color: #000028;
  --title-color: #DB00FF;
  --p-color: #F1B2CE;
  --section-title-color: #ff006fef;
  --light-border-color: transparent;
  --dark-border-color: #ff006ff5; 
  --font-size: 18px;
  --font-family: "IBM Plex Mono", sans-serif;
  --font-weight-big: 700;
  --font-weight-small: 400;
  --font-style-b: Bold;
  --font-style-n: normal;
  --background-image: url(../images/cover-image-dark.png);
}