/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --accent-color: black;
    --background-color: #ff0070;
    --border-hover: #FF007066;
    --subtitle-color: #000028;
    --title-color: #db00ff;
    --p-color: #f1b2ce;
    --section-title-color: #ff0070;
    --light-border-color: transparent;
    --dark-border-color: #ff0070;
    --font-size: 18px;
    --font-weight-big: 700;
    --font-weight-small: 400;
    --font-style-b: bold;
    --font-style-n: normal;
    --background-image: url(../images/cover-image-dark.png);
}
